.header {
    width: 360px;
    display: flex;
    flex-direction: row;
          
}


.logo-tinchos {
    width: 80px;
    border-radius: 50px;

}

.logo-avispa {
    width: 250px;
    margin-top: 20px;
    margin-left: -10px;

}