.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 150px;
}

.select-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 360px;
   
}
