.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 200px;
}

.select-button {
    display: flex;
    justify-content: space-around;
    width: 360px;
}

.beer-top {
    width: 30px;
    display: flex;

}
